* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-white);
  font-size: 16px;
}
.navbar {
  height: 96px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 43.79px;
  width: 100%;
}
.nav-logo img {
  display: flex;
  align-items: center;
  padding-bottom: -12px;
}
li {
  list-style: none;
  text-decoration: none;
}
.nav-links-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-links-2 {
  display: none;
}
.link {
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 12px;
  gap: 8px;
  background-color: var(--nav-link-bg);
  color: var(--text-white);
  border-radius: 8px 8px 0 0;
  font-size: 14px;
  text-decoration: none;
}
.active-link {
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 12px;
  gap: 8px;
  background-color: var(--nav-link-bg);
  border-radius: 8px 8px 0 0;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid var(--assetbase-orange);
  color: var(--assetbase-orange);
  z-index: 1;
}
.active-liq{
  z-index: 1 !important;

}
.ex {
  border-radius: 8px;
}
.link:hover {
  border-radius: 8px 8px 0 0;
  /* transition: all .5s ease-in-out; */
  color: var(--assetbase-orange);
  border-bottom: 1px solid var(--assetbase-orange);
}
.disabled {
  color: var(--disabled);
  pointer-events: none;
  cursor: default;
}
.left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background: var(--assetbase-orange);
  border-radius: 24px;
  color: white;
  font-size: 14px;
  text-decoration: none;
}
.nav-btn:hover {
  background: var(--bg-color);
  border: 1px solid var(--assetbase-orange);
  transition: all 0.5s ease-in-out;
  color: var(--assetbase-orange);
}
.nav-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icon {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 24px;
  border: 1px solid rgba(49, 53, 63, 1);
  cursor: pointer;
}
.icon:hover {
  transition: all 0.5s ease-in-out;
  color: var(--assetbase-orange);
  border: 1px solid var(--assetbase-orange);
}
.menuClass {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background-color: var(--blur-bg);
  backdrop-filter: blur(24px);
}
.hamburger {
  height: 46px;
  width: 54px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--card-bg);
  border-radius: 12px;
  z-index: 6;
}

.wallet {
  height: 100vh !important;
}
.icon{
  color: white;
}

/* testing */
.ticker-container {
  position: relative;
}

.ticker {
  display: inline-flex;
  animation: ticker-scroll 30s linear infinite;
}

@keyframes ticker-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}


