@media (max-width: 1165px) {
  /* navbar */
  .navbar .content .right {
    display: none;
  }
  .link {
    width: 100%;
  }
  .hamburger {
    display: flex;
  }
}

@media (max-width: 990px) {
  .card-content {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  .card-header-right {
    width: 100%;
    justify-content: space-between;
  }
  /* liquidity */
  .liquidity-btn {
    display: none !important;
  }
  .t-1 {
    width: 100% !important;
  }
}
@media (max-width: 960px) {
  .card-wrapper {
    flex-direction: column-reverse;
  }
  .left-card-wrapper {
    width: 100%;
  }
  .right-card-wrapper {
    width: 100%;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    overflow-x: auto;
  }
  .right-card-wrapper::-webkit-scrollbar {
    width: 0;
  }
  .referral-card {
    flex-direction: row;
    padding: 24px 10px;
  }
  .referral-card-content {
    flex-direction: row;
    gap: 1rem;
  }
  .notifications-card {
    display: none;
  }

  /* Markets */
  .markets-card-wrapper {
    flex-direction: column;
  }
  .markets-card-wrapper .card {
    width: 100% !important;
    padding-bottom: 1.1rem !important;
  }
  .markets-card-wrapper .card:first-child {
    margin-bottom: 1.2rem;
  }
  .markets-card {
    flex-direction: column;
  }
}
@media (max-width: 920px) {
  .navmob-wrapper {
    display: flex;
  }
  .nav-links-1 {
    display: none;
  }
  .nav-links-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 18px 24px 18px 24px;
  }
  .nav-links-2 .link {
    flex-direction: column;
    width: 100px;
  }
  .nav-links-2 .active-link {
    flex-direction: column;
  }
  /* markets */
  .large {
    overflow: auto !important;
  }
}
@media (max-width: 785px) {
  .t-1 p {
    width: 100% !important;
  }
}
@media (max-width: 600px) {
  .nav-links-2 {
    padding: 18px 20px 18px 20px !important;
  }
  .nav-links-2 .link {
    padding: 8px 4px;
    width: 4.5rem;
  }
  .nav-links-2 .active-link {
    padding: 8px 4px;
    flex-direction: column;
    width: 4.5rem;
  }
  .nav-links-2 .link p,
  .nav-links-2 .active-link p {
    font-size: 10px;
  }
  .card-header-right {
    gap: 0;
    justify-content: space-between;
  }
  .brown-card {
    width: 20rem;
    white-space: nowrap;
  }
  .referral-card {
    width: fit-content;
    padding: 18px;
  }
  .referral-card-content img {
    width: 65px;
    height: 65px;
  }
  .referral-title {
    width: 15rem;
  }
  /* Markets */
  .markets {
    padding: 24px 15px !important;
  }
  .markets-card-wrapper {
    padding: 24px 15px 24px 15px !important;
  }
  .large {
    display: none;
  }
  .small {
    display: block !important;
    width: 100%;
  }
  .border-right {
    padding-left: 1rem;
    white-space: nowrap;
  }
  .name {
    padding-left: -1rem !important;
  }
  /* liquidity */
  .liquidity-container {
    padding: 24px 15px !important;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
  }
  .lc-1 h3 {
    font-size: 16px;
    width: 100% !important;
  }
}

@media (max-width: 400px) {
  .dashboard {
    padding: 24px 15px;
  }
  .card {
    padding: 24px 18px;
  }
  .navbar {
    padding: 0 14px;
  }
  .nav-links-2 .link {
    padding: 8px 8px;
    width: 4rem;
  }
  .nav-links-2 .active-link {
    padding: 8px 8px;
    width: 4rem;
  }
  .nav-links-2 {
    padding: 15px 10px 15px 10px !important;
  }
  .nav-links-2 .link p,
  .nav-links-2 .active-link p {
    font-size: 11px;
  }
  .opt p {
    font-size: 12px;
  }
  .trending .sub-title {
    font-size: 10px;
  }
  .view-all {
    white-space: nowrap;
  }
  /* Liquidity */
  .liquidity-wrapper {
    padding: 24px 18px !important;
  }

}
@media (max-width: 320px) {
  .nav-links-2 .link {
    width: 3.3rem;
  }
  .nav-links-2 .active-link {
    width: 3.3rem;
  }
  .nav-links-2 .link p,
  .nav-links-2 .active-link p {
    font-size: 10px;
  }

  /* markets */
  .small {
    overflow-x: hidden !important;
  }
  table {
    overflow-x: auto;
  }
  th,
  td {
    padding: 15px 10px !important;
  }
  /* Liquidity */
  .grid-1{
    grid-template-columns: auto !important;
}
}
