:root{
    --assetbase-orange: rgba(244, 108, 49, 1);
    --card-bg: rgba(22, 25, 34, 1);
    --bg-card: rgba(22, 25, 34, 1);
    --light-bg: rgba(34, 36, 49, 1);
    --ticker-green: rgba(56, 199, 147, 1);
    --ticker-red: rgba(223, 28, 65, 1);
    --light-stroke: rgba(49, 53, 63, 1);
    --bg-base: rgba(10, 13, 20, 1);
    --input-mute: rgba(49, 53, 63, 1);
    --gray-text: rgba(205, 208, 213, 1);
    --grey-text: rgba(205, 208, 213, 0.349);
    --brown-bg: rgba(29, 21, 18, 1);
    --neutral-800: rgba(22, 25, 34, 1);
    --neutral-500: rgba(82, 88, 102, 1);
    --neutral-300: rgba(205, 208, 213, 1);
    --blur-bg: rgba(26, 26, 26, 0.2);
    --pt-bg: rgba(255, 255, 255, 0.04);
    --pt-card-bg: rgba(34, 36, 49, 0.5);
    --neutral: rgba(134, 140, 152, 1);
    --blue-shade: rgba(5, 30, 62, 1);
    --text-blue-light: rgba(194, 214, 255, 1);
    --notify-bg: rgba(217, 217, 217, 0.3);
    --bg-color: #0A0D14;
    --text-white: #CDD0D5;
    --disabled: rgba(49, 53, 63, 1);
    --nav-link-bg: rgba(255, 255, 255, 0.04);
    --font-family: "Geist", sans-serif;
}